<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myhomebuddy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHomeBuddy.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".ConsumerCheckoutMainActivity"
            android:label="@string/checkout"
            android:theme="@style/Theme.MyHomeBuddy"/>
        <activity
            android:name=".ConsumerPlaceOrderActivity"
            android:label="@string/place_order"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".ConsumerProductReviewActivity"
            android:label="@string/product_review"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".ConsumerProductDetailActivity"
            android:label="@string/product_details"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".SellerBillingAccountActivity"
            android:label="@string/billing_account"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".SellerProfileActivity"
            android:label="@string/seller_account_profile"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".SellerProductDetailActivity"
            android:label="@string/product_details"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".SellerAddProductActivity"
            android:label="@string/add_product"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity
            android:name=".SellerProductActivity"
            android:label="@string/seller_products"
            android:theme="@style/Theme.MyHomeBuddy" />
        <activity android:name=".SellerMainActivity" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".RegistrationSuccessful" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyHomeBuddy" />
    </application>

</manifest>